<a href="https://colab.research.google.com/github/kiyalikathangaiya/kiyalikathangaiya/blob/main/Assignment_1_ipynb_(1)_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [ ]:
X=txt.split() 
Print(x)

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
Planet="Earth"
diameter=12742
Print("The diameter of {} is{}
Kilometers. ".formate( planet, diameter))

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d={'k1':[1, 2,3,{'tricky':
['Oh','man','inception', {'target':
[1, 2,3,'hellow']}]}]}

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [ ]:
Import numpy as np
Array=np.zeros(10) 
Print("An array of 10 Zeros:") 
Print(array)

In [ ]:
Array=np.ones(10) *5
Print("An array of 10 fives:") 
Print(array)

## 5. Create an array of all the even integers from 20 to 35

In [ ]:
Import numpy as np
array=np.arange(20,36,3) 
Print("Array of all the even integers form 20 to 35") 
Print(array)

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
Import numpy as np
X=np.arange(0, 9).resshape(3, 3) 
Print(x)

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
#Assign variaable varl&var2
#print the result

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [ ]:
# creating df object with columns specified
f=pd.DataFrame(1st, columns =['Tag', 'number']) 
Print(df)

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
Series=pd.date_range(start='2023-01-01', end='2023-02-10', freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]